
   
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0e153a;
  margin-bottom: 20px;
  color: white;
}

.brand {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 18px 0;
}

/* .search {
  height: 10px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #0e153a;
  border: 0.5px solid #124faa;
  color: white;
} */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.movie_component {
  border-radius: 8px;
  width: 250px;
  margin: 15px;
  background-color: white;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 1);
  background-color: #0e153a;
}

.poster {
  max-width: 100%;
  height: 375px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.score {
  border: 1px solid;
  padding: 10px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
}

.movie-info {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: black;
  background-color: #0e153a;
  color: white;
}

.header {
  position: relative;
}

.hover-info {
  background-color: rgba(17, 17, 17, 0.863);
  padding: 0 5px;
  max-height: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.5s;
}

.movie_component:hover .hover-info {
  transform: translateY(0%);
}

.tag {
  border-radius: 50%;
  width: 20px;
  padding: 10px;
  text-align: center;
}


.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.moviesearch-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.moviesearch-input {
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 11px;
  width: 800px;
  /* border: none; */
  background-color: white;
  border-radius: 16px 0px 0px 16px;
  max-width: 800px;
  font-size: 25px;
}

.moviesearch-select {
  color: white;
  padding: 10px;
  border: none;
  background-color: #0e153a;
  width: 170px;
  font-weight: 700;
  border-radius: 0px 16px 16px 0px;
  cursor: pointer;
  transition: 300ms;
  font-size: 25px;
  margin-left: 10px;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}


